.config #viewportid { background-color: gray; margin: 5px; }


.config .cf-page { outline: 1px solid white; margin-bottom: 20px;  }



.columnGaptest { font-size: 10px; }
.columnGaptest #viewportid { font-size: 1.2em; }





